@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Games</h1>
</div>

<ul>
    @foreach (var game in Model)
    {
        <li>@game.GameCode | @game.GameDay.ToShortDateString() | @game.GameLocation | @game.MasterFirstName @game.MasterLastName</li>
    }
</ul>
